WebShopMVC/Service References/WebShopWCF/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebShopWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebShopWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Model.PersonDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Admins" type="tns:Model.PersonDTO.Admin" />
      <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:ArrayOfModel.OrderDTO" />
      <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Model.PersonDTO" nillable="true" type="tns:Model.PersonDTO" />
  <xs:simpleType name="Model.PersonDTO.Admin">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="User" />
          <xs:enumeration value="Admin" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="Model.PersonDTO.Admin" nillable="true" type="tns:Model.PersonDTO.Admin" />
  <xs:complexType name="ArrayOfModel.OrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Model.OrderDTO" nillable="true" type="tns:Model.OrderDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModel.OrderDTO" nillable="true" type="tns:ArrayOfModel.OrderDTO" />
  <xs:complexType name="Model.OrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OrderProduct" nillable="true" type="tns:ArrayOfModel.OrderProductDTO" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Model.PersonDTO" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Model.OrderDTO" nillable="true" type="tns:Model.OrderDTO" />
  <xs:complexType name="ArrayOfModel.OrderProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Model.OrderProductDTO" nillable="true" type="tns:Model.OrderProductDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModel.OrderProductDTO" nillable="true" type="tns:ArrayOfModel.OrderProductDTO" />
  <xs:complexType name="Model.OrderProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Konsol" nillable="true" type="tns:Model.KonsolDTO" />
      <xs:element minOccurs="0" name="KonsolId" type="xs:int" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Model.OrderDTO" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderProductId" type="xs:int" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Model.ProductDTO" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Model.OrderProductDTO" nillable="true" type="tns:Model.OrderProductDTO" />
  <xs:complexType name="Model.KonsolDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OrderProduct" nillable="true" type="tns:ArrayOfModel.OrderProductDTO" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfModel.ProductDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Model.KonsolDTO" nillable="true" type="tns:Model.KonsolDTO" />
  <xs:complexType name="ArrayOfModel.ProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Model.ProductDTO" nillable="true" type="tns:Model.ProductDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModel.ProductDTO" nillable="true" type="tns:ArrayOfModel.ProductDTO" />
  <xs:complexType name="Model.ProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Genres" nillable="true" type="tns:ArrayOfModel.GenreDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Konsols" nillable="true" type="tns:ArrayOfModel.KonsolDTO" />
      <xs:element minOccurs="0" name="OrderProduct" nillable="true" type="tns:ArrayOfModel.OrderProductDTO" />
      <xs:element minOccurs="0" name="PicLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearOfRelease" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Model.ProductDTO" nillable="true" type="tns:Model.ProductDTO" />
  <xs:complexType name="ArrayOfModel.GenreDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Model.GenreDTO" nillable="true" type="tns:Model.GenreDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModel.GenreDTO" nillable="true" type="tns:ArrayOfModel.GenreDTO" />
  <xs:complexType name="Model.GenreDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="GenreName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfModel.ProductDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Model.GenreDTO" nillable="true" type="tns:Model.GenreDTO" />
  <xs:complexType name="ArrayOfModel.KonsolDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Model.KonsolDTO" nillable="true" type="tns:Model.KonsolDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModel.KonsolDTO" nillable="true" type="tns:ArrayOfModel.KonsolDTO" />
</xs:schema>